.button {
    border: 4px solid #505050;

    &.lg {
        font-size: 20px;
        height: 70px;
        padding: 10px;
        width: 100%;
    }

    &.md {
        font-size: 17px;
        height: 60px;
        padding: 10px;
        width: 100%;
    }

    &:disabled {
        background: #808080 !important;
    }
}
