<div id="login-form" class="login-form">
    <form action="">
        <div class="login-username mb-4">
            <input class="form-control" type="text" name="name" placeholder="Username">
         </div>
         
         <div class="login-password mb-4">
             <input class="form-control" type="password" name="password" placeholder="Password">
         </div>
            
        <button class="btn btn-primary btn-lg mb-2">Login</button>

        <a [routerLink]="'/contact'" target="_blank">Issues? Contact Us!</a>
    </form>
</div>