.generic-form__header {
    .naked-btn {
        position: absolute;
        right: 20px;
        top: 20px;

        i {
            color: #aaa;
            font-size: 24px;
        }
    }
}
