<div id="login-page" class="login-page vh100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="mb-2">
                    <h1>{{ formTitle }}</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>

                <div class="login-form-wrapper p-5">
                    <app-login-form></app-login-form>
                </div>

            </div>
        </div>
    </div>
</div>

