<div id="login-page" class="login-page vh100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="login-card w-100 d-flex">
                    <!-- Left -->
                    <div class="login-showcase flex-even">
                        <img class="image-overlay" src="assets/images/transparent.png" alt="overlay" />
                        <div class="d-flex flex-column h-100 p-5 text-white">
                            <div class="headline flex-even">
                                <h2 class="fw-bold">Welcome to Quems!</h2>
                                <p class="mb-0">Queue. Organize. Deliver.</p>
                            </div>

                            <div class="testimonial-card fst-italic p-3">
                                <p class="mb-4">
                                    <small
                                        >The GOAT of apps! This helped me organize not only my work but my life. Thanks Quems, will order
                                        again!</small
                                    >
                                </p>

                                <div class="d-flex align-items-center">
                                    <div class="user-image">
                                        <img
                                            src="https://demo.colorado.gov/sites/demo/files/styles/contact_crop/public/2019-12/michael-dam-mEZ3PoFGs_k-unsplash.jpg.webp"
                                            alt="sample-testimonial-user" />
                                    </div>
                                    <div class="user-info ms-3">
                                        <p class="fw-bold m-0">
                                            <small> Maria Clara Hontiveros</small>
                                        </p>
                                        <p class="user-position m-0">CEO of LinkedOut</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left -->

                    <!-- Right -->
                    <div class="login-form-wrapper p-5">
                        <div>
                            <div class="login-header mb-4">
                                <img class="logo mb-3" src="assets/images/quems-draft-2.png" alt="logo" />
                                <h3 class="fw-bold cement">Sign in</h3>
                                <small>Log in to your account to get started</small>
                            </div>

                            <app-login-form></app-login-form>
                        </div>
                    </div>
                    <!-- Right -->
                </div>
            </div>
        </div>
    </div>
</div>
